{% extends 'base.html.twig' %}
{% block title %} Créer une offre {% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>  Modifier l'offre de {{ offer.creator }} </h1>
    {{ form_start(form) }}
        {{ form_label(form.Creator, 'Votre Nom Prénom')}}
        {{ form_widget(form.Creator)}}
        {{ form_label(form.amount, 'Valeur de l\'offre')}}
        {{ form_widget(form.amount)}}
        {{ form_label(form.limitDate, 'Date butoire')}}
        {{ form_widget(form.limitDate)}}
        {{ form_label(form.offers_delivery, 'système de réduction')}}
        {{ form_widget(form.offers_delivery)}} <br>
        {{ form_label(form.delivery, 'valeur de la réduction')}}
        {{ form_widget(form.delivery)}}
        {{ form_label(form.offer_benefit, 'Technicité')}}
        {{ form_widget(form.offer_benefit,)}} <br>
        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
    </div>
{% endblock %}