{% extends 'base.html.twig' %}
{% block title %} {{offer.creator}} {% endblock %}
{% block body %}
    {{ dump(offer)}}
    <div class="container mt-4"> 
    <div class="row">
        <div class="col-10">
            <h1>{{offer.creator}}</h1> 
        </div>
        <div class="col-2">
            <a href="{{ path('offer.delete', {id: offer.id})}}" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
    <h2> Créé le {{ offer.creationdate|date('d-m-Y')}}</h2>

    {% if offer.modifier == false %}

    <p><strong> Aucune modification effectuée </strong><p>

    {% else %}

    <p> Modification effectuée par <strong>{{ offer.modifier}}<strong> le <strong>{{offer.modifierdate|date('d-m-Y')}} à {{offer.modifierdate|date('H')}} heure {{offer.modifierdate|date('i')}}.<strong> </p>

    {% endif %}
    <p> Type de prestation : {{offer.offerbenefit.name}} </p>
    <p> Date butoire : {{offer.limitDate|date('d-m-Y')}} </p>
    {% if offer.delivery == false %}
    <h3> Valeur (aucune remise effectuée) : {{offer.amount}} €.</h3>
    {% else %}
    <p> Valeur : <strong>{{offer.amount}} €.</strong></p>
    <br> 
        {% if offer.offersdelivery.name == '%' %}
        remise prévue : {{offer.delivery}}%.<br>
        <h3>Valeur après remise : {{ offer.amount - (offer.amount/100)*offer.delivery}} €.</h3>
        {% else %}
        remise prévue : {{offer.delivery}} €.<br>
        <h3>Valeur après remise : {{ offer.amount - offer.delivery }} €.</h3>
        {% endif %}
    
    {% endif %}
    <div class="row">
        <div class="col-4">
            <a href="{{ path('offer.edit', {id: offer.id})}}" class="btn btn-warning">modifier l'offre</a>
        </div>
        <div class="col-6">
        </div>
        <div class="col-2">
            <a href="{{ path('offer.duplicate', {id: offer.id})}}" class="btn btn-warning">dupliquer l'offre</a>
        </div>
    </div>
    <div class="container col-2"><a href="{{ path('home')}}" class="btn btn-success">retour</a></div>
    </div>
{% endblock %}